@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('fonts/woff2/PretendardVariable.woff2') format('woff2-variations');
}

header {
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.25);
}

body {
	height: 100vh;
	background-color: #181818 !important;
	font-family: 'Pretendard', sans-serif !important;
	color: white !important;
	letter-spacing: -0.5px !important;
	overflow: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown .dropdown-menu {
  display: none;
}

.navbar-dark {
	background-color: #1f1f1f;
	border-bottom: 1px solid #2b2b2b;
}

.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #212529;
}

.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-item {
  color: white;
}

.nav-item.dropdown .dropdown-item:hover {
	background-color: #495057;
}

.nav-item.dropdown {
	cursor: pointer;
}

#header-container {
	padding-bottom: 56px;
}

#icontext {
	font-family: 'Pretendard', sans-serif;
	margin-right: 50px;
}


main {
  /* display: flex;
  flex-direction: column; */
	background: #1f1f1f;
  justify-content: center;
  align-items: center; 
  height: 100%;
  width: 100%;
  font-size: 30px;
  font-style: normal;
  transition: all 0.2s ease;
  letter-spacing: -2px;
  overflow: hidden;
  cursor: default;
  font-family: "Pretendard";
}

.container {
  display: grid;
  place-items: center;
}

.mode_toggle_btn_box {
  position: absolute;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: black;
}

.mode_toggle-btns {
  color: white;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.25);
  padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}

#mode_toggle_btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 150px;
	height: 100%;
	background: #1f1f1f;
	border-radius: 30px;
	transition: .5s;
}

.mode_toggle_btn {
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}

.minus_symbol {
  position: absolute;
  top: 35%;
  left: 3%;
  color: #1f1f1f;
  font-size: 650%;
  font-weight: 700;
  display: none;
}

.time_container {
  position: absolute;
  top: 33%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 650%;
  font-weight: 700;
  letter-spacing: -10px;
}

#hours, #minutes, #seconds {
  width: 260px;
  text-align: center;
}

.add_buttons_container {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.start_reset_buttons_container {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 20%;
  justify-content: center;
  gap: 15px;
}

.add_time {
  width: 5em;
  position: relative;
  height: 3em;
  border: 3px ridge #fff;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.5s;
  border-radius: 3em;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.reset_btn {
  width: 5.5em;
  position: relative;
  height: 3em;
  border: 3px ridge #ff0000;
  outline: none;
  background-color: transparent;
  color: rgb(255, 0, 0);
  transition: 0.5s;
  border-radius: 3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 32px;
}

.start_btn {
  width: 6.5em;
  position: relative;
  height: 3em;
  border: 3px ridge limegreen;
  outline: none;
  background-color: transparent;
  color:limegreen;
  transition: 0.5s;
  border-radius: 3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.exit_btn {
  display: none;
  width: 6em;
  position: absolute;
  top: 80%;
  height: 3em;
  border: 3px ridge #ff0000;
  outline: none;
  background-color: transparent;
  color: rgb(255, 0, 0);
  transition: all 0.5s;
  border-radius: 3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#addself {
  width: 8.5em;
  border: 3px ridge aquamarine;
  color:aquamarine;
}

#addself:hover {
  box-shadow: inset 0px 0px 25px aquamarine;
}

button:hover::before, button:hover::after {
  transform: scale(0)
}
.add_time:hover {
  box-shadow: inset 0px 0px 25px #fff;
}

.add_time:active, .reset_btn:active, .start_btn:active {
  transform: scale(0.95);
  transition: 0.1s ease;
}

.reset_btn:hover, .exit_btn:hover {
  box-shadow: inset 0px 0px 25px #ff0000;
}

.start_btn:hover {
  box-shadow: inset 0px 0px 25px limegreen;
}

.expand {
  transform: scale(2);
  transition: 1s ease-in-out;
}

.shrink {
  transform: scale(1);
  transition: 0.3s transform ease-in-out;
}

#start:disabled {
  cursor: not-allowed;
  box-shadow: inset 0px 0px 25px #ff0000;
}

.add_time:disabled {
  cursor: not-allowed;
  box-shadow: inset 0px 0px 25px #ff0000;
}


.time_over {
  display: flex;
  flex-direction: row;
  font-size: 450%;
  cursor: pointer;
  position: absolute;
}


#end_text {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 200%;
  display: none;
}

#info_text {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.25);
  display: none;
}

.exit_btn {
  display: none;
  width: 6em;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: 3em;
  border: 3px ridge #ff0000;
  outline: none;
  background-color: transparent;
  color: rgb(255, 0, 0);
  transition: all 0.5s;
  border-radius: 3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}